<%= simple_form_for ([:mypos, @product]), html: { multipart: true } do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Product Code <small>(required)</small></label>
        <%= f.input :code_product, label: false, input_html: {class: "form-control"} %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Product Name <small>(required)</small></label>
        <%= f.input :name, label: false, input_html: {class: "form-control"} %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Category <small>(required)</small></label>
        <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Choose a category"}, label: false, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Unit <small>(required)</small></label>
        <%= f.collection_select :unit_id, Unit.all, :id, :name, {prompt: "Choose a unit"}, label: false, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label>Size <small>(required)</small></label>
        <%= f.input :size, label: false, input_html: {class: "form-control"} %>
        <span class="help-block">10cm x 10cm, 5m x 5m, etc.</span>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label>Description <small>(required)</small></label>
        <%= f.text_area :description, rows: "5", class: "form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Buy Cost <small>(required)</small></label>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.input :buy_cost, label: false, input_html: {class: "form-control"} %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Sell Cost <small>(required)</small></label>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.input :sell_cost, label: false, input_html: {class: "form-control"} %>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label>Quantity <small>(required)</small></label>
        <%= f.input :quantity, label: false, input_html: {class: "form-control"} %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.button :submit, class: "btn btn-primary" %>
        <%= link_to "Back", mypos_products_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>
