<h3 class="title1">
  <%= company_name %> <small><%= show_time %></small>
</h3>
<div class="panel-body widget-shadow">
  <table class="table">
    <tbody>
      <tr>
        <th>Product Code</th>
        <td>:</td>
        <td class="text-capitalize"><%= @product.code_product %></td>
      </tr>
      <tr>
        <th>Product Name</th>
        <td>:</td>
        <td class="text-capitalize"><%= @product.name %></td>
      </tr>
      <tr>
        <th>Category</th>
        <td>:</td>
        <td class="text-capitalize"><%= @product.category_id.name %></td>
      </tr>
      <tr>
        <th>Size</th>
        <td>:</td>
        <td><%= @product.size %></td>
      </tr>
      <tr>
        <th>Description</th>
        <td>:</td>
        <td class="text-capitalize">
          <%= @product.description %>
        </td>
      </tr>
      <tr>
        <th>Buy Cost</th>
        <td>:</td>
        <td class="text-capitalize"><%= number_to_currency(@product.buy_cost, precision: 2) %></td>
      </tr>
      <tr>
        <th>Sell Cost</th>
        <td>:</td>
        <td class="text-capitalize"><%= number_to_currency(@product.sell_cost, precision: 2) %></td>
      </tr>
      <tr>
        <th>Quantity</th>
        <td>:</td>
        <td class="text-capitalize"><%= @product.quantity %> <span class="text-capitalize"><%= @product.unit_id.name %></span></td>
      </tr>
    </tbody>
  </table>

  <%= link_to "Back", mypos_products_path, class: "btn btn-primary btn-sm" %>
  <%= link_to "Edit", edit_mypos_product_path(@product), class: "btn btn-primary btn-sm" %>
  <a href="#deleteConfirm" data-toggle="modal" class="btn btn-sm btn-danger">Delete</a>

  <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteConfirm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="deleteConfirm">Are you sure want to delete this?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <%= link_to "Yes", mypos_product_path(@product), method: :delete, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>

</div>
