<div id="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><b>FlatPos</b></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#home" class="smothscroll">Home</a></li>
        <li><a href="#desc" class="smothscroll">Description</a></li>
        <li><a href="#showcase" class="smothScroll">Showcase</a></li>
        <li><a href="#contact" class="smothScroll">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%#= image_tag avatar_url(current_user), class: 'img-responsive img-circle' %>
              <%= current_user.full_name %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Dashboard", mypos_root_path %></li>
              <li><%= link_to "Profile", edit_user_registration_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "btn btn-primary navbar-btn" %>
          <%= link_to "Register", new_user_registration_path, class: "btn btn-default navbar-btn" %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
