<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="text-center">
          <h4 class="text-muted">Edit User</h4>
          <br>
          <h5 class="text-muted">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></h5>
        </div>
        <hr>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

          <div class="col-md-6">
            <div class="form-group">
              <label class="text-muted"><small>First Name</small></label>
              <%= f.text_field :first_name, class: "form-control" %>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="text-muted"><small>Last Name</small></label>
              <%= f.text_field :last_name, class: "form-control" %>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="text-muted"><small>Username</small></label>
              <%= f.email_field :username, autofocus: true, class: "form-control" %>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="text-muted"><small>Email</small></label>
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="text-muted"><small>Company Name</small></label>
              <%= f.text_field :company_name, autofocus: true, class: "form-control" %>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="text-muted"><small>Date of Birth</small></label>
              <%= f.text_field :date_of_birth, as: :date, label: false, autofocus: true, class: "form-control datepicker" %>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label class="text-muted"><small>Address</small></label>
              <%= f.text_area :address, autofocus: true, class: "form-control", rows: "5" %>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="text-muted"><small>City</small></label>
              <%= f.text_field :city, autofocus: true, class: "form-control" %>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="text-muted"><small>Province</small></label>
              <%= f.text_field :province, autofocus: true, class: "form-control" %>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="text-muted"><small>Zip</small></label>
              <%= f.text_field :zip, autofocus: true, class: "form-control" %>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="text-muted"><small>Country</small></label>
              <%= f.country_select :country, { include_blank: 'Select a country' }, { class: 'form-control' } %>
            </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="col-md-12">
            <div class="form-group">
              <label class="text-muted"><small>Password <i>(leave blank if you don't want to change it)</small></label>
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label class="text-muted"><small>Password Confirmation</small></label>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label class="text-muted"><small>Current Password <i>(we need your current password to confirm your changes)</i></small></label>
              <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <%= f.submit "Update", class: "btn btn-primary", style: "width:100%" %> <br>
              <%= link_to "Back", mypos_root_path, class: "btn btn-danger", style: "width:100%" %>
            </div>
          </div>

        <% end %>

      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  $('.datepicker').datetimepicker({
    format: 'YYYY-MM-DD'
  });
</script>