<%= simple_form_for ([:mypos, @sale]), html: { multipart: true } do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Customer <small>(required)</small></label>
        <%= f.collection_select :customer_id, Customer.all, :id, :name, {prompt: "Choose a customer"}, label: false, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Payment Method <small>(required)</small></label>
        <%= f.collection_select :payment_method_id, PaymentMethod.all, :id, :name, {prompt: "Choose a payment method"}, label: false, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Payment Status <small>(required)</small></label>
        <%= f.collection_select :payment_status_id, PaymentStatus.all, :id, :name, {prompt: "Choose a payment status"}, label: false, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Product <small>(required)</small></label>
        <%= f.collection_select :product_id, Product.all, :id, :name, {prompt: "Choose a product"}, label: false, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Sell Cost <small>(required)</small></label>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.input :sell_cost, label: false, input_html: {class: "form-control"} %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Quantity <small>(required)</small></label>
        <%= f.input :quantity, label: false, input_html: {class: "form-control"} %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.button :submit, class: "btn btn-primary" %>
        <%= link_to "Back", mypos_sales_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>
