<h3 class="title1">
  <%= company_name %> <small><%= show_time %></small>
</h3>
<div class="panel-body widget-shadow">
  <%= link_to new_mypos_sale_path, class: "btn btn-primary" do %>
    <i class="fa fa-plus"></i> Add New Sales
  <% end %>
  <div class="table-responsive">
    <table class="datatable table table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Customer</th>
          <th>Payment Method</th>
          <th>Payment Status</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <%= render "allsales" %>
      </tbody>
    </table>
  </div>
</div>
