<h3 class="title1">
  <%= company_name %> <small><%= show_time %></small>
</h3>
<div class="panel-body widget-shadow">
  <table class="table">
    <tbody>
      <tr>
        <th>Customer</th>
        <td>:</td>
        <td class="text-capitalize"><%= @sale.customer_id.name %></td>
      </tr>
      <tr>
        <th>Payment Method</th>
        <td>:</td>
        <td class="text-capitalize"><%= @sale.payment_method.name %></td>
      </tr>
      <tr>
        <th>Payment Status</th>
        <td>:</td>
        <td class="text-capitalize"><%= @sale.payment_status.name %></td>
      </tr>
      <tr>
        <th>Product</th>
        <td>:</td>
        <td><%= @sale.product_id.name %></td>
      </tr>
      <tr>
        <th>Quantity</th>
        <td>:</td>
        <td class="text-capitalize">
          <%= @sale.quantity %>
        </td>
      </tr>
      <tr>
        <th>Total Cost</th>
        <td>:</td>
        <td class="text-capitalize"><%= number_to_currency(@sale.total_cost, precision: 2) %></td>
      </tr>
    </tbody>
  </table>

  <%= link_to "Back", mypos_sales_path, class: "btn btn-primary btn-sm" %>
  <%= link_to "Edit", edit_mypos_sale_path(@sale), class: "btn btn-primary btn-sm" %>
  <a href="#deleteConfirm" data-toggle="modal" class="btn btn-sm btn-danger">Delete</a>

  <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteConfirm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="deleteConfirm">Are you sure want to delete this?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <%= link_to "Yes", mypos_sale_path(@sale), method: :delete, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>
