<h3 class="title1">
  <%= company_name %> <small><%= show_time %></small>
</h3>
<div class="panel-body widget-shadow">
  <table class="table">
    <tbody>
      <tr>
        <th>Name</th>
        <td>:</td>
        <td class="text-capitalize"><%= @unit.name %></td>
      </tr>
    </tbody>
  </table>

  <%= link_to "Back", mypos_units_path, class: "btn btn-primary btn-sm" %>
  <%= link_to "Edit", edit_mypos_unit_path(@unit), class: "btn btn-primary btn-sm" %>
  <a href="#deleteConfirm" data-toggle="modal" class="btn btn-sm btn-danger">Delete</a>

  <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteConfirm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="deleteConfirm">Are you sure want to delete this?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <%= link_to "Yes", mypos_unit_path(@unit), method: :delete, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>
