<% @customers.each do |c| %>
  <tr>
    <td><%= c.id %></td>
    <td><%= c.company_name %></td>
    <td><%= c.name %></td>
    <td><%= c.email %></td>
    <td><%= c.country_name %></td>
    <td>
      <%= link_to "Detail", mypos_customer_path(c), class: "btn btn-xs btn-default" %>
      <%= link_to "Edit", edit_mypos_customer_path(c), class: "btn btn-xs btn-primary" %>
      <a href="#deleteConfirm" data-toggle="modal" class="btn btn-xs btn-danger">Delete</a>
    </td>
  </tr>

  <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteConfirm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="deleteConfirm">Are you sure want to delete this?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <%= link_to "Yes", mypos_customer_path(c), method: :delete, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
