<h3 class="title1">
  <%= company_name %> <small><%= show_time %></small>
</h3>
<div class="panel-body widget-shadow">
  <table class="table">
    <tbody>
      <tr>
        <th>Customer Name</th>
        <td>:</td>
        <td class="text-capitalize"><%= @customer.company_name %></td>
      </tr>
      <tr>
        <th>Name</th>
        <td>:</td>
        <td class="text-capitalize"><%= @customer.name %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td>:</td>
        <td class="text-capitalize"><%= @customer.email %></td>
      </tr>
      <tr>
        <th>Phone Number</th>
        <td>:</td>
        <td><%= @customer.phone_number %></td>
      </tr>
      <tr>
        <th>Website</th>
        <td>:</td>
        <td class="text-capitalize">
          <% if @customer.website.empty? %>
            -
          <% else %>
            <%= @customer.website %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Address</th>
        <td>:</td>
        <td class="text-capitalize"><%= @customer.address %></td>
      </tr>
      <tr>
        <th>City</th>
        <td>:</td>
        <td class="text-capitalize"><%= @customer.city %></td>
      </tr>
      <tr>
        <th>State</th>
        <td>:</td>
        <td class="text-capitalize"><%= @customer.state %></td>
      </tr>
      <tr>
        <th>Zip</th>
        <td>:</td>
        <td><%= @customer.zip %></td>
      </tr>
      <tr>
        <th>Country</th>
        <td>:</td>
        <td class="text-capitalize"><%= @customer.country_name %></td>
      </tr>
    </tbody>
  </table>

  <%= link_to "Back", mypos_customers_path, class: "btn btn-primary btn-sm" %>
  <%= link_to "Edit", edit_mypos_customer_path(@customer), class: "btn btn-primary btn-sm" %>
  <a href="#deleteConfirm" data-toggle="modal" class="btn btn-sm btn-danger">Delete</a>

  <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteConfirm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="deleteConfirm">Are you sure want to delete this?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <%= link_to "Yes", mypos_customer_path(@customer), method: :delete, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>

</div>
