<%= simple_form_for ([:mypos, @category]), html: { multipart: true } do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Name <small>(required)</small></label>
        <%= f.input :name, label: false, input_html: {class: "form-control"} %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.button :submit, class: "btn btn-primary" %>
        <%= link_to "Back", mypos_categories_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>
