<%= simple_form_for ([:mypos, @supplier]), html: { multipart: true } do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Company Name <small>(required)</small></label>
        <%= f.input :company_name, label: false, placeholder: "Company Name", input_html: {class: "form-control"} %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Name <small>(required)</small></label>
        <%= f.input :name, label: false, placeholder: "Name", input_html: {class: "form-control"} %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Email <small>(required)</small></label>
        <%= f.input :email, label: false, placeholder: "Email", input_html: {class: "form-control"} %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Phone Number <small>(required)</small></label>
        <%= f.input :phone_number, label: false, placeholder: "Supplier Phone Number", input_html: {class: "form-control"} %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Description <small>(optional)</small></label>
        <%= f.input :comment, label: false, placeholder: "Oseram is automotive sparepart supplier", input_html: {class: "form-control"} %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Website <small>(optional)</small></label>
        <%= f.input :website, label: false, placeholder: "Supplier Website", input_html: {class: "form-control"} %>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label>Address <small>(required)</small></label>
        <%= f.text_area :address, rows: "5", placeholder: "Supplier Address", class: "form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>City <small>(required)</small></label>
        <%= f.input :city, label: false, placeholder: "Supplier City", input_html: {class: "form-control"} %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Province <small>(required)</small></label>
        <%= f.input :state, label: false, placeholder: "Supplier Province", input_html: {class: "form-control"} %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Zip Code <small>(required)</small></label>
        <%= f.input :zip, label: false, placeholder: "Supplier Zip Code", input_html: {class: "form-control"} %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Country <small>(required)</small></label>
        <%= f.country_select :country, { include_blank: 'Select a country' }, {class: "form-control"}, format: :with_alpha2 %>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <%= f.button :submit, class: "btn btn-primary" %>
        <%= link_to "Back", mypos_suppliers_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>
