<h3 class="title1">
  <%= company_name %> <small><%= show_time %></small>
</h3>
<div class="panel-body widget-shadow">
  <%= link_to new_mypos_supplier_path, class: "btn btn-primary" do %>
    <i class="fa fa-plus"></i> Add New Supplier
  <% end %>
  <div class="table-responsive">
    <table class="datatable table table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Company Name</th>
          <th>Name</th>
          <th>Email</th>
          <th>Country</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <%= render "allsuppliers" %>
      </tbody>
    </table>
  </div>
</div>
