<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-primary">
        <div class="panel-body">
          <div class="text-center">
            <h4 class="text-muted">Welcome to PointOfSale!</h4>
            <br>
            <h5 class="text-muted">Don't have account? Register <%= link_to "here", new_user_registration_path %>.</h5>
          </div>
          <hr>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
              </div>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <%= f.check_box :remember_me %> Remember Me
                  </label>
                </div>
              </div>
            <% end -%>

            <div class="form-group">
              <%= f.submit "Login", class: "btn btn-primary", style: "width:100%" %>
              <%= link_to "Back", root_path, class: "btn btn-danger", style: "width:100%" %>
            </div>
          <% end %>

          <div class="text-center">
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
