<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlatPos</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'landing_page', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'landing_page', 'data-turbolinks-track': 'reload' %>

    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navigation">
    <%= render "shared/landings/nav" %>
    <%= render "shared/msg" %>

    <%= yield %>

    <%= render "shared/landings/footer" %>
    <%= render "shared/landings/js/mainjs" %>
  </body>
</html>
