<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlatPos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="cbp-spmenu-push">
    <div class="main-content">
  		<%= render "shared/dashboards/nav" %>
      <%= render "shared/msg" %>

  		<div id="page-wrapper">
  			<div class="main-page">
  				<%= yield %>
  			</div>
  		</div>

  		<%= render "shared/dashboards/footer" %>
  	</div>

    <script type="text/javascript">
      $('.datatable').DataTable();
    </script>
  </body>
</html>
